@model PROJECTO_TLP.Models.RegisterViewModel
@{
    ViewBag.Title = "Criar nova conta";
}

<style>
     #main-registrar{
       margin:auto;
       padding:2vh 2vh 5vh 2vh;
       background-color:#fff;
       max-width:800px;
       box-shadow:0 0 10px #dfdfdf ;    
    }
    .control-label{
        font-size:2.2vh;
    }
    #aside{
        max-width:800px;
        margin:auto;
        background-color:#cbd7fa;
        color:#404040;
        box-shadow:0 0 2px silver;
        padding:2vh 5vh 5vh 5vh;
        margin-bottom:10px;

        display:flex;
        flex-direction:column;
        gap:1.5rem;
    }
</style>


<div id="div-registro">
    

    <main  id="main-registrar" class="container row">
        <aside id="aside" class="container row" role="complementary">
            <h1 style="font-size:40px">Congregação <span class="text-primary">Combal-18</span> </h1>
            <h1>Relatório de serviço de campo</h1>
        </aside>

        <h2>@ViewBag.Title.</h2>
        <h3>Informacoes adicionais</h3>
        <hr />


        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group row">
            <div class=" col-md-5"><label for="div-nasc" class="control-label">Data de nascimento</label></div>
            <div class="col-md-7"><input type="date" id="div-nasc" class="form-control" required/></div>
        </div>

        <div class="form-group row">
            <div class=" col-md-5"><label for="div-batismo" class="control-label">Data de batismo</label></div>
            <div class="col-md-7"><input type="date" id="div-batismo" class="form-control" required/></div>
        </div>

        <div class="" style="color:red;font-size:2.2vh">
            Se for batizado!!
        </div>

        <hr />
        <h3>Servico na congregacao</h3>
        <div class="form-group row">
            <div class=" col-md-12">
                <label for="label-anciao" class="control-label col-xs-4">Anciao</label>
                <input class="" type="checkbox" id="label-anciao" />
            </div>
            <div class=" col-md-12">
                <label for="label-servo" class="control-label col-xs-4">Servo ministerial</label>
                <input class="" type="checkbox" id="label-servo" />
            </div>
            <div class=" col-md-12">
                <label for="label-anciao" class="control-label col-xs-4">Pioneiro regular, especial ou missioanario</label>
                <input class="" type="checkbox" id="label-anciao" />
            </div>

        </div>


        <div style="display:flex;width:100%;column-gap:5vh;justify-content:flex-start;flex-wrap:wrap">
            <div class="row col-md-offset-0" style="width:150%;padding:0 0 10px 0">
                <div class="col-md-12 text-success" style="font-size:2.5vh">
                    Confirme as informacoes!
                </div>
            </div>
            @*<a id="btn-confirmar" onclick="" role="button" class="btn btn-primary" style="width:100%;height:40px" @Html.ActionLink("Confirmar Registro","ConfirmarRegistro","EsqueceuPasse") </a>*@

            @*@Html.Action("ConfirmarRegistro","EsqueceuPasse")*@
        </div>
        <div class="btn-group col-md-6">
            <a style="height:40px;font-size:2.5vh" class="btn btn-success col-md-6" @Html.ActionLink("Confirmar Registro", "ConfirmarRegistro", "Conta") </a>
            <a style="height:40px;font-size:2.5vh" class="btn col-md-6 btn-warning" @Html.ActionLink("Voltar", "Registro", "Conta")  </a>
        </div>

    </main>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



