
@model PROJECTO_TLP.Models.RegisterViewModel
@{
    ViewBag.Title = "Criar nova conta";
}

<style>
    #link {
        color: white;
    }

    #div-registro {
        margin: auto;
        /*margin-top:1rem;*/
    }

    #main-registrar {
        margin: auto;
        padding: 2vh 2vh 5vh 2vh;
        background-color: #fff;
        max-width: 800px;
        box-shadow: 0 0 10px #dfdfdf;
    }

    .control-label {
        font-size: 2.2vh;
    }

    /*99b3f0    aabceb*/
    #aside {
        max-width: 800px;
        margin: auto;
        background-color: #cbd7fa;
        color: #404040;
        box-shadow: 0 0 2px silver;
        padding: 2vh 5vh 5vh 5vh;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #div-opcao {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 1rem;
    }

    .btn-opcao {
        background: transparent;
        width: 45%;
        height: 50px;
        border: none;
        outline: none;
        text-decoration: none;
        font-size: 3vh;
        transition: 0.2s;
    }

        .btn-opcao:hover {
            transform: scale(1.1, 1.1);
            border: none;
            padding-bottom: 5px;
            /*border-bottom:3px solid;*/
        }

    a {
        text-decoration: none;
        border: none;
        outline: none;
        text-decoration-style: none;
        text-decoration-line: none;
    }

    /*vaalidaca com css*/
    /*.form-control:valid{
        border:1px solid #dedede;
    }
    .form-control:invalid{
        border:1px solid red;
    }*/


    .input-invalido {
        border: 1px solid red;
    }

        .input-invalido::after() {
            content: 'Campo invalido';
        }

    .input-valido {
        border: 1px solid #dedede;
    }

    .div-alerta {
        padding: 1rem;
        display: none;
    }
</style>

<div id="div-registro">


    <main id="main-registrar" class="container row">

        <aside id="aside" class="container row" role="complementary">
            <h1 style="font-size:40px">Congregação <span class="text-primary">Combal-18</span> </h1>
            <h1>Relatório de serviço de campo</h1>


            <div id="div-opcao">
                <a class="btn-opcao text-primary" @Html.ActionLink("Criar conta", "registro", "conta") </a>
                <a class="btn-opcao text-primary" @Html.ActionLink("Iniciar sessao", "login", "conta") </a>
            </div>
        </aside>
        <h2>@ViewBag.Title.</h2>
        <h3>Informacoes pessoais</h3>
        <hr />

        @Html.ValidationSummary("", new { @class = "text-danger" })



        <div class="form-group row">
            <div class=" col-md-5"><label for="div-nome" class="control-label">Nome completo</label></div>
            <div class="col-md-7"><input type="text" id="div-nome" class="form-control input-registro" required /><div class="text-danger div-alerta">Campo invalido!!</div></div>
        </div>

        <div class="form-group row">
            <div class=" col-md-5"><label for="div-email" class="control-label">Email</label></div>
            <div class="col-md-7"><input type="email" id="div-email" class="form-control input-registro" required /><div class="text-danger div-alerta">Campo invalido!!</div></div>
        </div>

        <div class="form-group row">
            <div class=" col-md-5"><label for="div-palavra-passe" class="control-label">Palavra-passe</label></div>
            <div class="col-md-7"><input type="password" id="div-palavra-passe" class="form-control input-registro" required /><div class="text-danger div-alerta">Campo invalido!!</div></div>
        </div>

        <div class="form-group row">
            <div class=" col-md-5"><label for="div-confirmar" class="control-label">Confirmar palavra-passe</label></div>
            <div class="col-md-7"><input type="password" id="div-confirmar" class="form-control input-registro col-md-9" required /><div class="text-danger div-alerta">Campo invalido!!</div></div>
        </div>


        <div style="display:flex;width:100%;column-gap:5vh;justify-content:flex-start;flex-wrap:wrap">
            <div class="row col-md-offset-0" style="width:150%;padding:0 0 10px 0">
                <div class="col-md-12" style="font-size:2.5vh">
                    Ja tenho uma conta. <a>@Html.ActionLink("Iniciar sessao", "Login", "Conta")</a>
                </div>

            </div>


            <a role="button" class="btn col-md-6 btn btn-primary" style="height:40px;font-size:2.5vh" @Html.ActionLink("Seguinte", "Registro2", "Conta")</a>

        </div>



    </main>

    @*<footer>
            <p>&copy; @DateTime.Now.Year - Congreg</p>
        </footer>*@
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
